<web-app>
    <servlet>
        <servlet-name>CookiesDemo</servlet-name>
        <servlet-class>Cookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CookiesDemo</servlet-name>
        <url-pattern>/urldemo</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.php</welcome-file>
    </welcome-file-list>
</web-app>